<!DOCTYPE html>
<html>
<head>
    <title>英雄联盟</title>
</head>
<body>
    <form action = "" method = "get">
        <input type = "text" name = "text">
        <br>
        <input type = "password" name = "password">
        <br>
        <input type = "checkbox" name = "checkbok1" >
        <label>first blood</label>
        <br>
        <input type = "checkbox" name = "checkbok2" >
        <label>double kill</label>
        <br>
        <input type="radio" name="radio" value="1">
        <label>godlike</label>
        <br>
        <input type="radio" name="radio" value="2">
        <label>shutdown</label>
        <br>
        <input type="submit" value="click me">
        <br>
        {% if a %}
            {% for i in a.items %}
                {{ i }}
            {% endfor %}
        {% endif %}

    </form>
</body>
</html>